/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
  Modular Scale: https://www.modularscale.com/?18&px&1.333
  */

/* Begin site styles below */

/* Content Style */
html {
  font-family: Helvetica, sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.25 */
  line-height: 1.5em; /* 23.994 / 16 = 1.5 */
  background: #FEF9EF;
  color: #080708;
}

h1 {
  font-size: 1.5em; /* 23.994 / 16 = 1.5 */
  padding: 0.844em; /* 13.503 / 16 = 0.844 */
  font-weight: bold;
}

li,
ol,
ul,
button {
  padding: 0.267em; /* 4.277 / 16 = 0.267 */
}

li,
ol,
ul {
  padding-top: 1.5em; /* 23.994 / 16 = 1.5 */
  padding-bottom: 1.5em; /* 23.994 / 16 = 1.5 */
}

.cart {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr 3fr 2fr;
  grid-gap: 1.125em; /* 18 / 16 = 1.125 */
  gap: 2.665em; /* 42.635 / 16 = 2.665 */
}

#picture-list {
  grid-column: 1;
}

#item-list {
  grid-column: 2;
}

#quantity-list {
  grid-column: 3;
}

#total-list {
  grid-column: 4;
}

.fruit-image img {
  max-width: 100%;
  height: auto;
  display: grid;
}

main {
  padding-left: 10%;
  padding-right: 10%;
}

/* Media Queries */
@media screen and (min-width: 67.5em) {
  /* Content Style */
  main {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 760px) {

}
